PORT=3001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/zero-planning?retryWrites=true&w=majority
GEMINI_API_KEY=your_api_key_here
NEXTAUTH_SECRET=your_nextauth_secret_here
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
